In [1]:
# Data handling
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Bokeh libraries
from bokeh.io import output_file, output_notebook, curdoc
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource
from bokeh.layouts import row, column, gridplot
from bokeh.models.widgets import Tabs, Panel
from bokeh.plotting import figure
from bokeh.models import HoverTool, ColumnDataSource

In [2]:
#Read Data CSV
df_stock = pd.read_csv("Volume.csv")
print(df_stock.head())

        Date     Volume
0  2/28/2020  106721200
1  2/27/2020   80151380
2  2/26/2020   49678430
3  2/25/2020   57668360
4  2/24/2020   55548830

In [3]:
#Liat tipe data dari kolom Volume
df_stock['Date'] = pd.to_datetime(df_stock.Date)
print(df_stock.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2518 entries, 0 to 2517
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2518 non-null   datetime64[ns]
 1   Volume  2518 non-null   int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 39.5 KB
None

In [4]:
#Inisialisasi ke dataframe yang khusus menampung kolom volume
df_appl = df_stock['Volume']

In [12]:
df_stock

           Date     Volume
0    2020-02-28  106721200
1    2020-02-27   80151380
2    2020-02-26   49678430
3    2020-02-25   57668360
4    2020-02-24   55548830
...         ...        ...
2513 2010-03-05  224647427
2514 2010-03-04   89591907
2515 2010-03-03   92846488
2516 2010-03-02  141486282
2517 2010-03-01  137312041

[2518 rows x 2 columns]

In [5]:
#Inisialisasi kedalam bentuk CDS agar dapat ditampilkan di figure
cds_appl = ColumnDataSource(df_stock)

## Pembuatan Figure

In [6]:
#Melakukan pembuatan figur dengan X-axis = Date dan Y-axis = Volume
fig = figure(x_axis_type='datetime',
                  plot_height=600,
                  plot_width= 950,
                  x_axis_label='Date',
                  y_axis_label='Volume',
                  title='Volume')

In [7]:
#Menentukan warna, dan source dari garis figur
fig.line(x='Date', y='Volume', 
        color='red', legend_label='APPL Volume',
        source=df_stock)

fig.legend.location = 'top_left'

## Pembuatan Hover

In [8]:
hov_appl = fig.circle(x='Date', y='Volume', source=cds_appl ,size=15, alpha=0, hover_fill_color='blue', hover_alpha=0.5)

In [9]:
tooltips = [
            ('Date', '@Date{%F}'),
            ('Volume', '@Volume'),
           ]
fig.add_tools(HoverTool(tooltips=tooltips, formatters={'@Date': 'datetime'}, renderers=[hov_appl]))

In [10]:
curdoc().add_root(column(fig))

In [11]:
show(fig)